 /*CSS DEL INDEX */

/*ESTILOS DE LETRA */
/*______________________________________________*/
@font-face{
  font-family: "header_titulos";
  src: url('../fonts/header/Gothic/GOTHIC.TTF');
}
@font-face{
  font-family: "header_menu";
  src: url('../fonts/header/menu.ttf');
}
/*______________________________________________*/
/*/ESTILOS DE LETRA */

/*ESTILOS GLOBAL*/
/*______________________________________________*/
html, body{
  height: 100%;
  width: 100%;
  margin: 0px;
  background-color: #22252c;
  /*display: flex;*/
}
/*______________________________________________*/
/* /ESTILOS GLOBAL*/

/*CSS MAIN*/
/*______________________________________________*/

#header2{
  padding: 2px;
  font-family: "header_menu";
  letter-spacing: 2px;
  font-size: 0.8rem;
}
#logHea{
  height: 5.5rem;
  margin: 0;
  padding: 0;
}
#letraNetwart{
  color: white;
  font-family: "header_menu";
  font-size: 1.5rem;
  letter-spacing: 2px;
}
.btn-what {
  background-color: #25d366;
  color: white;
  border-radius: 8px;
  height: 2.2rem;
  border:solid 1px white;
  margin-left: 2rem;
}
.btn-face {
  background-color: #3b5998;
  color: white;
  border-radius: 8px;
  height: 2.2rem;
  border:solid 1px white;
  margin-right: 1rem;
  z-index: 2;
  /*padding-left: 2rem;*/
  /*margin-right: 0rem;*/
}
#main .carousel-inner img {
  max-height: 100vh;
  object-fit: cover;
  filter: grayscale(70%);
}
#carousel {
  position: relative;
}
#carousel .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 0;
}
#carousel .overlay .container,
#carousel .overlay .row {
  height: 100%;
}
#place-time {
  background-color: #343a40;
  color: white;
}
#place-time img {
  max-width: 100%;
}
#divScroll{
  width: 10rem;

}
#scroll{
  position: absolute !important;
  /*z-index: 1;*/
  /*height: 50px;*/
  width: 30px;
  padding: 0px;
  background-image: center;
  z-index: 1;
  margin: 0 auto;
  margin-left: calc(50% - 15px);
  margin-top: -115px;
}
#pad{
  display: flex;
}

/*_______________________________________________*/
/*/CSS MAIN*/

/*CSS HEADER QUE ESTA DENTRO DEL MAIN*/
/*________________________________________________*/

#header_home{
  background-image: url('../img/header/fondo.jpg');
  background-size: cover;
  position: absolute;
  z-index: 2;
  background-position: center;
  width: 100% !important;
}
.row{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.navbar{
  background-color: rgba(0,0,0,0);
  color: white;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.li_nav{
  border-right: 0.2px solid #B1B2AE;
  /*height: 1.6rem;*/
  /*margin-left: 0.3rem;*/
}
#navbarSupportedContent{
  /*margin-left: 32rem;*/
  font-family: "header_menu";
  /*font-size: 1rem;*/
  letter-spacing: 2px;
  font-size: 0.8rem;
  /*position: absolute;*/
  /*float:right !important;*/
  /*margin-left: 27rem;*/
}
#navbarSupportedContent li{
  margin-left: 0.5rem;
}

/*_________________________________________________*/
/*  /CSS HEADER QUE ESTA DENTRO DEL MAIN*/


/* CSS DEL PORQUE*/
/*___________________________________________________*/

.why{
  background-color: #22252c;
  font-family: "header_titulos";
}
.subtWhy{
	font-family: "header_titulos";
	color: #02cfb4;
}
.frase1Why{
	color: #B8B8B8;
	font-size: 1.1rem;
	text-align: justify;
}
#sig{
  font-family: "arial";
}
.letra1-why{
  color: white;
  text-align: right;
  padding-top: 1rem;
}
.letra2-why{
  color: #02cfb4;
  text-align: left;
  padding-top: 1rem;
  font-size: 2rem;
}
.why-media{
  color: white;
}
.media-body{
  padding-top: 0.8rem;

}
.why-p{
  text-align: justify;
  font-size: 1.1rem;
}
.col-2-media{
  padding-top: 3rem;
}
.col-1-media-der{
  padding-top: 6rem;
}
.oculto{
  display: none;
}
.mr-3{
  width: 8rem;
}

/*____________________________________________________*/
/* /CSS DEL PORQUE*/



/*CSS DE SERVICIOS*/

#servicios{
  background-color: #0F2A3B;
  color: white;
  margin-bottom: 0;
}
.titservices{
  text-align: center;
  font-family: "header_menu";
  letter-spacing: 3px;
  font-size: 2.5rem;
}
.img-serv{
  width: 28rem;
}
#imgComputadoras{
  width: 22rem;
  /*margin: 0;
  padding: 0;*/
}
#imgImpresoras{
  width: 22rem;
}
.btn{
  margin-top: 1.5rem;
}
.plato-cont{
  padding: 2rem 0rem;
  border-bottom: 1px solid #e0e0e0;
}
/*css de las imagenes interiores*/
#intSoftware{
  width: 40%;
  margin-left: calc(25% - 5px);
}
#intHardware{
  width: 40%;
  margin-left: calc(30% - 5px);
}
#intSistOWin{
  width: 30%;
  margin-left: calc(30% - 5px);
}
#intSistOLin{
  width: 30%;
  margin-left: calc(30% - 5px);
}
.sofImg{
  width: 40%;
}
.interior{
  width: 40%;
}
#imgSofInt1{
  margin-left: calc(35% - 5px);
  width: 50%;
  margin-bottom: 5%;
}
#imgSofInt2{
  /*margin-left: calc(35% - 5px);*/
  width: 40%;
  margin-bottom: 5%;
}
#tex2Soft{
  width: 20rem;
  float: left;
}
#imRedes{
  width: 60%;
  margin-left: calc(15% - 5px);
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 15px;
  border: solid 3px #35F7BA;
}
#imElec{
  width: 75%;
  margin-left: calc(15% - 5px);
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 15px;
  border: solid 3px white;
}
#imSegElec{
  width: 85%;
  margin-left: calc(8% - 5px);
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 15px;
  border: solid 3px white;
}
#imDisenoGraf{
  width: 75%;
  margin-left: calc(15% - 5px);
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 15px;
  border: solid 3px white;
}
#imDisGraf{
  width: 75%;
  margin-left: calc(15% - 5px);
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#contDisGraf1{
  width: 19rem;
  float: left;
}
#contDisGraf2{
  width: 18rem;
  float: left;
}
.subServ{
  color: #02cfb4;
  font-family: "header_titulos";
  margin-bottom: 1.5rem;
}
.dropdown-menu{
  width: 80%;
  background-color: #85C3FF;
  border-radius: 20px;
  border: solid 5px white;
  
}
.dropdown-menu a{
  color: #333031;
  font-weight: bolder;
}
#bot button{
  border: solid 2px #35F7BA;
  border-radius: 10px;
  background-color: #259674;
  color: white;
  margin-left: calc(15% - 5px);
}
.dropdown-toggle:hover{
  background: #74FFF5 !important;
  /*color: red;*/
  color: #259674 !important;
}
#botImp button{
  border: solid 2px #35F7BA;
  border-radius: 10px;
  background-color: #259674;
  color: white;
  margin-left: calc(15% - 5px);
} 
/*.textservicios{
  font-family: "header_menu";
  font-size: 1.3rem;
  letter-spacing: 2px;
}*/

/* /CSS DE SERVICIOS*/
/*_____________________________________________________*/
/*CSS DE FOOTER*/
#logFoot{
  height: 7.5rem;
  padding-bottom: 12px;
}
.copri{
  background-color: #22252c;
  color: white;
  font-family: "header_titulos";
}
#copy{
  border-top: 1px solid #e0e0e0;
  padding-top: 0.5rem;
  text-align: center;
}
.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/
 
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }
/*#logRedesSoFoter a{
  width: 4rem;
  height: 4rem;
  padding: 0;
}*/
#footer2 a{
  color: white !important;
  margin-right: 1.5rem;
}
#botTWIT{
  width: 3rem;
  height: 3rem;
}

/* /CSS DE FOOTER*/

/*___________________________________________________*/
/* /CSS DEL INDEX 

*AQUI EMPIEZA EN CSS DE NUESTRA EMPRESA.HTML*/

#bodyNuestraEmpresa{
  background-color: white;
  /*margin-top: 7.2rem;*/
  padding-top: 4rem;
}
#blanco{
  background-color: white;
}
/*#menu2{
  width: 90%;
  margin-left: 5%;
}*/

.img-fluid{
  max-width: initial;
  width: 100%;
}
#empresa{
  color: lightblue;
}



#main2{
  background-color: white;
  padding-top: 4rem;
}
.mapita{
  margin-left: calc(-35% - 5px);
  width:140% !important;
  height: 25rem;
  border:solid 4px #068587;
}
/*.esp iframe{
  height: 25rem !important;
  width: 30rem !important;
  margin-right: 5rem;
  border-radius: 25px;
}*/
.formularioContac input{
  border:solid 2px #068587;
  border-radius: 10px;
}
.formularioContac label{
  color:#068587;
  font-weight: bold;
}

#comentario{
  border:solid 2px #068587;
  border-radius: 25px;
}
#selector{
  border:solid 2px #068587;
  border-radius: 10px;
}

#carousel4{
    border: solid 6px #068587 !important;
    border-radius: 7px;
    /*height: 20%;*/
    margin: 2rem;
}
/*.empresa{
  color: #0DFF9F;
  font-weight: bold;
  text-shadow: -2px -2px 1px #05613C, 2px 2px 1px #05613C, -2px 2px 1px #05613C, 2px -2px 1px #05613C;
}*/
#ExpTec{
  font-weight: bold;
  text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
}
#imgMis{
  width: 80%;
}
#imgVis{
  width: 95%;
}
/*#containerMisVis{
  height: 12.5rem;
}*/
.contMisVis{
  margin-top: 2rem;
  font-size: 1.2rem;
}
#slider{
  padding-bottom: 2rem !important;
}
#fraseNE{
  padding-top: 2rem;
}
.titForm{
  color: #1BAB9C;
}
/*.contForm{
  padding-left: 2rem;
}
.contForm i{
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-top: 1rem;
  font-weight: bold;
}
.formularioContac{
  border-top: 4px solid #257069;
  border-bottom: 4px solid #257069;*/
  /*padding-top: 2.5rem;*/
  /*margin-top: 1rem;
  margin-bottom: 1rem;*/
 /* padding-bottom: 2rem;*/
/*}*/


/* #menu2{
    display: none;
  }*/
/*FORMULARIO*/

.form_wrap{
    width: 1050px;
    height: 530px;
    margin: 50px auto;
    display: flex;

    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

/* Informacion de Contacto*/

.cantact_info::before{
    content: '';
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background: #4091EC;
    opacity: 0.9;
}

.cantact_info{
    width: 38%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url('../fondo.jpg');
    background-size: cover;
    background-position: center center;

}

.info_title, .info_items{
    position: relative;
    z-index: 2;
    color: #fff;
}

.info_title{
    margin-bottom: 60px;
}

.info_title span{
    font-size: 100px;
    display: block;
    text-align: center;
    margin-bottom: 15px;
}

.info_title h2{
    font-size: 35px;
    text-align: center;
}

.info_items p{
    display: flex;
    align-items: center;

    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.info_items p:nth-child(1) span{
    font-size: 30px;
    margin-right: 10px;
}

.info_items p:nth-child(2) span{
    font-size: 50px;
    margin-right: 15px;
    margin-left: 4px;
}


/* Formulario de contacto*/
form.form_contact{
    width: 62%;
    padding: 30px 40px;
}

form.form_contact h2{
  font-size: 25px;
  font-weight: 600;
  color: #303030;
  margin-bottom: 30px;
}

form.form_contact .user_info{
    display: flex;
    flex-direction: column;
}

form.form_contact label{
    font-weight: 600;
}

form.form_contact input,
form.form_contact textarea{
    width: 100%;
    padding: 8px 0px 5px;
    margin-bottom: 20px;

    border: none;
    border-bottom: 2px solid #D1D1D1;

    font-family: 'Open sans';
  color: #5A5A5A;
  font-size: 14px;
  font-weight: 400;
}

form.form_contact textarea{
    max-width: 100%;
    min-width: 100%;
    max-height: 90px;
}

form.form_contact input[type="submit"]{
    width: 180px;
  background: #4091EC;
  padding: 10px;
  border: none;
  border-radius: 25px;

    align-self: flex-end;

    color: #fff;
  font-family: 'Open sans';
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

form.form_contact input[type="submit"]:hover{
    background: #3371B6;
}

/* Ventana de errores*/
.modal_wrap{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.7);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mensaje_modal{
    background: #fff;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    width: 400px;
    padding: 30px 20px 15px;
}

.mensaje_modal h3{
    text-align: center;
    font-family: 'Ubuntu';
  font-size: 20px;
  font-weight: 400;
}

.mensaje_modal h3:after{
    content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #C5C5C5;
  margin: 10px 0px 15px;
}

.mensaje_modal p{
    font-size: 16px;
    color: #606060;
}

.mensaje_modal p:before{
    content: "\f00d";
    font-family: FontAwesome;
    display: inline-block;
    color: #E25151;
    margin-right: 8px;
}
/*.btn-face2{
  background-color:#3b5998;
  border-radius: 5px;
  height: 2.4rem;
  margin-left: 1rem;
  margin-right: 1rem;
  color: white;
}
.btn-what2{
  background-color: #25d366;
  color: white;
}
*/
#btnClose{
    display: inline-block;
  padding: 3px 10px;
  margin-top: 10px;

  background: #E25151;
  color: #fff;
  border: 2px solid #B14141;
  cursor: pointer;

  float: right;
}

/*FORMULARIO*/
 #formularioC{
    width: 100%;
    margin-right: 0!important;
    padding: 0!important;
  }
#jumboLogoContac{
  width: 85%;
  margin-top: calc(15% - 5px);
}
#main2{
  padding-bottom: 2rem;
}


/*CSS MENSAJE DE ENVIO*/

#formularioGracias{
  background-color: #47C7D6;
  border: solid 3px #007369;
  color: white;
  text-align: center;
}
.mensaje-exito{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mensaje-exito h1{
  display: block;
  text-align: center;
}
.mensaje-exito a{
  display: block;
  padding: 10px 30px;
  background-color: #4091EC;
  text-decoration: none;
  color: #fff;
  border-radius: 20px;
}
#logGracias{
  width: 18%;
}


/*_____________________________________________________________________________*/
/*AQUI EMPIEZA EN CSS DE NUESTRA EMPRESA.HTML*/

#bodyNuestraEmpresa{
  background-color: white;
  /*margin-top: 7.2rem;*/
  padding-top: 4rem;
}
#blanco{
  background-color: white;
}
/*#menu2{
  width: 90%;
  margin-left: 5%;
}*/

.img-fluid{
  max-width: initial;
  width: 100%;
}
#empresa{
  color: lightblue;
}



#main2{
  background-color: white;
  padding-top: 4rem;
}
.btn-success2{
  background-color: #3b5998;
  color: white;
}
.mapita{
  margin-left: calc(-35% - 5px);
  width:140% !important;
  height: 25rem;
  border:solid 4px #068587;
}
/*.esp iframe{
  height: 25rem !important;
  width: 30rem !important;
  margin-right: 5rem;
  border-radius: 25px;
}*/
.formularioContac input{
  border:solid 2px #068587;
  border-radius: 10px;
}
.formularioContac label{
  color:#068587;
  font-weight: bold;
}


#comentario{
  border:solid 2px #068587;
  border-radius: 25px;
}
#selector{
  border:solid 2px #068587;
  border-radius: 10px;
}

#carousel4{
    border: solid 6px #068587 !important;
    border-radius: 7px;
    /*height: 20%;*/
    margin: 2rem;
}
/*.empresa{
  color: #0DFF9F;
  font-weight: bold;
  text-shadow: -2px -2px 1px #05613C, 2px 2px 1px #05613C, -2px 2px 1px #05613C, 2px -2px 1px #05613C;
}*/
#ExpTec{
  font-weight: bold;
  text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
}
#imgMis{
  width: 80%;
}
#imgVis{
  width: 95%;
}
/*#containerMisVis{
  height: 12.5rem;
}*/
.contMisVis{
  margin-top: 2rem;
  font-size: 1.2rem;
}
#slider{
  padding-bottom: 2rem !important;
}
#fraseNE{
  padding-top: 2rem;
}
.titForm{
  color: #1BAB9C;
}
.FeedbackGracias{
  color: #1BAB9C;
  text-align:center;
}
/*.contForm{
  padding-left: 2rem;
}
.contForm i{
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-top: 1rem;
  font-weight: bold;
}
.formularioContac{
  border-top: 4px solid #257069;
  border-bottom: 4px solid #257069;*/
  /*padding-top: 2.5rem;*/
  /*margin-top: 1rem;
  margin-bottom: 1rem;*/
 /* padding-bottom: 2rem;*/
/*}*/


/* #menu2{
    display: none;
  }*/
/*FORMULARIO*/

/*.form_wrap{
    width: 1050px;
    height: 530px;
    margin: 50px auto;
    display: flex;

    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}*/

/* Informacion de Contacto*/

/*.cantact_info::before{
    content: '';
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background: #4091EC;
    opacity: 0.9;
}

.cantact_info{
    width: 38%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url('../fondo.jpg');
    background-size: cover;
    background-position: center center;

}

.info_title,
.info_items{
    position: relative;
    z-index: 2;
    color: #fff;
}

.info_title{
    margin-bottom: 60px;
}

.info_title span{
    font-size: 100px;
    display: block;
    text-align: center;
    margin-bottom: 15px;
}

.info_title h2{
    font-size: 35px;
    text-align: center;
}

.info_items p{
    display: flex;
    align-items: center;

    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.info_items p:nth-child(1) span{
    font-size: 30px;
    margin-right: 10px;
}

.info_items p:nth-child(2) span{
    font-size: 50px;
    margin-right: 15px;
    margin-left: 4px;
}*/


/* Formulario de contacto*/
form.form_contact{
    width: 62%;
    padding: 30px 30px;
    padding-bottom: 40rem !important;
}

form.form_contact h2{
  font-size: 25px;
  font-weight: 600;
  color: #303030;
  margin-bottom: 30px;
}

form.form_contact .user_info{
    display: flex;
    flex-direction: column;
}

form.form_contact label{
    font-weight: 600;
}

form.form_contact inp ut,
form.form_contact textarea{
    width: 100%;
    padding: 8px 0px 5px;
    margin-bottom: 20px;

    border: none;
    border-bottom: 2px solid #D1D1D1;

    font-family: 'Open sans';
  color: #5A5A5A;
  font-size: 14px;
  font-weight: 400;
}

form.form_contact textarea{
    max-width: 100%;
    min-width: 100%;
    max-height: 90px;
}

form.form_contact input[type="submit"]{
    width: 180px;
  background: #4091EC;
  padding: 10px;
  margin-bottom: 40px;
  border: none;
  border-radius: 25px;

    align-self: flex-end;

    color: #fff;
  font-family: 'Open sans';
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

form.form_contact input[type="submit"]:hover{
    background: #3371B6;
}

/* Ventana de errores*/
.modal_wrap{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.7);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mensaje_modal{
    background: #fff;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    width: 400px;
    padding: 30px 20px 15px;
}

.mensaje_modal h3{
    text-align: center;
    font-family: 'Ubuntu';
  font-size: 20px;
  font-weight: 400;
}

.mensaje_modal h3:after{
    content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #C5C5C5;
  margin: 10px 0px 15px;
}

.mensaje_modal p{
    font-size: 16px;
    color: #606060;
}

.mensaje_modal p:before{
    content: "\f00d";
    font-family: FontAwesome;
    display: inline-block;
    color: #E25151;
    margin-right: 8px;
}
/*.btn-face2{
  background-color:#3b5998;
  border-radius: 5px;
  height: 2.4rem;
  margin-left: 1rem;
  margin-right: 1rem;
  color: white;
}
.btn-what2{
  background-color: #25d366;
  color: white;
}
*/
#btnClose{
    display: inline-block;
  padding: 3px 10px;
  margin-top: 10px;

  background: #E25151;
  color: #fff;
  border: 2px solid #B14141;
  cursor: pointer;

  float: right;
}

/*FORMULARIO*/
 #formularioC{
    width: 100%;
    margin-right: 0!important;
    padding: 0!important;
  }
#jumboLogoContac{
  width: 85%;
  margin-top: calc(15% - 5px);
}
#main2{
  padding-bottom: 2rem;
}



/* MediaQuerys*/
/*____________________________________________________*/



/*@media(max-height: 768px){
  #particles-js{
   height: 100%;
  }
}*/

@media (max-width: 767px){
  	  .card-info{
	    margin-left: 2rem;
	    margin-bottom: 2rem;
	  }
	  .navbar-brand{
	    width: 70%;
	  }

	  /*CSS SERVICIOS*/
	  #imgComputadoras{
	    width: 230px;
	  }
	  #imgImpresoras{
	    width: 230px !important;
	  }
	  .img-serv{
	    width: 200px;
	  }
	  #imgSofInt1{
	    width: 60px;
	  }
	  #imgSofInt2{
	    width: 60px;
	  }
	  #imDisGraf{
	    width: 100px;
	    margin-left: calc(-25% - 5px);
	    position: absolute;
	  }
	  #imDisenoGraf{
	    width: 170px;
	    position: absolute;
	    margin-left: calc(-50% - 5px);
	  }
	  /* /CSS SERVICIOS*/
	  
	  .info_t1, .info_t2{
	    font-size: 1.5rem;
	  }
	  .oculto{
	    display: inline;
	    color: #02cfb4;
	  }
	  .letra2-why{
	    display: none;
	  }
	  .col-1-media-der{
	    padding-top: 3rem;
	  }
	  .textservicios{
	  	font-size: 0.9rem;
	  }
	  #letraNetwart{
	  	display: none;
	  }
	  .subServ{
		  font-size: 2rem;
		}
    #menu2{
      margin-left: 4rem;
      width: 80%;
    }
    #jumboLogoContac{
      width: 35%;
      /*margin-left: 0;
      padding: 0;*/
      margin-left: calc(65% - 5px);
      margin-top: -350px;
      position: absolute;
    }
    #map{
      margin-left: 10rem;
      /*width: 130%;*/
    }
    #main2{
    padding-top: 2rem;
    }
	  #formularioGracias{
      width: 85% !important;
    }
    .FeedbackGracias{
      font-size: 1.5rem;
    }
    /*#formularioGracias{
      background-color: #47C7D6;
      border: solid 3px #007369;
      color: white;
      text-align: center;
    }
    .mensaje-exito{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }*/
    .mensaje-exito h1{
      font-size: 1.7rem;
    }
    .mensaje-exito a{
      display: block;
      padding: 10px 30px;
      background-color: #4091EC;
      text-decoration: none;
      color: #fff;
      border-radius: 20px;
    }
    #logGracias{
      width: 40%;
    }
}

@media (min-width: 768px){
	  #mimenu{
	    display: flex;
	    justify-content: flex-end;
	    margin-right: 8rem;
	  }
	  .navbar-brand{
	    margin-left: 4rem;
	  }
	  .nav-link{
	    padding-top: 0;
	    padding-bottom: 0;
	  }
	  .info_t1, .info_t2{
	    font-size: 1.4rem;
	  }
	  .mapita{
	    margin-left: calc(2% - 5px);
	    width:110% !important;
	    height:24rem;
	    margin-top: 3rem;
	  }
	   #menu2{
	    display: none;
	  }
	    #particles-js{
	       position: relative;
	       /*height: 100% !important;*/
	   }
	  
}

@media (min-width: 992px){
	  .nav-item{
	    padding-right: 1rem;
	    padding-left: 1rem;
	  }
	  .info_t1, .info_t2{
	    font-size: 2rem;
	  }
	  .header_home{
	    height: 100%;
	  } 
	  #menu2{
	    display: none;
	  }

}

@media (min-width: 1024px){
  		.header_home{
		  height: 50%;
		 }
		  .textservicios{
		  /*font-family: "header_menu";*/
		  font-size: 1.3rem;
		  /*letter-spacing: 2px;*/
		  }
		  #particles-js{
		    width: 97%;
		    height: 100%;
		    position: relative;
		    z-index: 0;
		  }
		  #contenidoWhy{
		    position: absolute;
		    z-index: 1;
		  }
		  #map{
		    margin-left: 2rem;
		  }
      .FeedbackGracias{
        font-size: 2.5rem;
      }
		  
}


@media (min-width: 1025px){
  .header_home{
    height: 100%;
  } 
  /*#particles-js{
		    
		    height: 70%;
		    
	}*/
   
}
@media (min-width: 1370px){
	#navbarSupportedContent{
  		font-size: 1.1rem;
	}
	#letraNetwart{
	  font-size: 2.3rem;
	  letter-spacing: 3px;
	}
	.d-none{
		font-size: 1.3rem;
	}
	#scroll{
		width: 50px;
		margin-left: calc(48.5% - 15px);
  		margin-top: -160px;
	}

	#particles-js{
		height: 75%;
	}
	.subtWhy{
		font-size: 1.7rem;
	}
	.frase1Why{
	font-size: 1.2rem;

	}
	.why-p{
	  font-size: 1.2rem;
	}

	
} 


/*@media(max-height: 768px){
  #particles-js{
   height: 100%;
  }
}*/

@media (max-width: 575px){
  .media{
    flex-direction: column;
  }
  #botFaceboook{
    width: 7rem;
    font-size: 14px;
  }
  #botWhat{
    width: 7rem;
    font-size: 14px;
  }
  #scroll{
    width: 20px;
    margin-left: calc(50% - 15px);
    margin-top: -45px;
  }
  .titservices{
    text-align: center;
    font-size: 1.5rem;
  }
  .inicio-xs{
    order:-1;
  }
 /* #logHea{
    height: 1rem !important;
  }*/
  #header2{
  padding: 0.5rem;
  padding-left: 3.5rem;
  padding-right: 2rem;
  /*font-family: "header_menu";
  letter-spacing: 2px;
  font-size: 0.8rem;*/
  }
  #contenidoWhy{
    font-size: 0.9rem;
  }
  #contServicios{
  background-color: blue;
  width: 100% !important;
  font-size: 0.5rem;
  }

  #imgComputadoras{
    width: 19rem;
    margin-left: calc(5% - 5px);
  }
  #contenidoLetraCompu{
    margin-left: 1rem;
  }
  #imgImpresoras{
    width: 18rem !important;
    margin-left: calc(5% - 5px);
  }
  .img-serv{
  width: 18rem;
  /*margin-left: 10%;*/
  margin-left: calc(5% - 5px);
  }
  #imgSofInt1{
    width: 120px;
    margin-right: 40px;
  }
  #imgSofInt2{
    width: 120px;
    margin-right: 40%;
  }
  #scroll{
 
  width: 20px;
  padding: 0px;
  }
  #header_home{
    background-color: #0F2A3B;
    color: white;
    position: relative;
  }
  #letraNetwart{
    display: none;
  }
  #linksFooter{
    display: none;
  }
  .mr-3{
    width: 10rem;
    margin-left: calc(30% - 5px);
  }
  #imgSofInt2{
    margin-left: calc(30% - 10px);
      
  }

  #imDisGraf{
    width: 160px;
    margin-left: calc(35% - 5px);
    position: relative;
  }
  #imDisenoGraf{
    width: 220px;
    position: relative;
    margin-left: calc(15% - 5px);
  }
  .mapita{
    margin-left: calc(7% - 5px);
    width:90% !important;
    height:18rem;
    margin-top: 3rem;
  }
  .direc{
    margin-left: 0rem;
    padding-left: 2rem;
  }
  #contTEXTfooter{
  text-align: center;
  }
  #logRedesSoFoter{
    margin-bottom: 2rem;
  }
  #listabaja{
    text-align: left;
    margin-left: 6rem;
  }
   #FraseContac{
    font-size: 1.5rem;
  }
  #menu2{
    width: 90%;
    margin-left: 5%;
    text-align: center !important;
    font-size: 0.6rem;
  }
  #formularioC{
    width: 90%;
    margin: 1.2rem !important;
    padding: 0.3rem;
    padding-bottom: 2rem;
  }
 .user_info{
    width: 150%;
  }
  .user_info h2{
    width: 150%;
  }
  #jumboLogoContac{
    display: none;
  }
  #botonescontac{
    margin-right: calc(-10% - 10px) !important;
    padding:0;
  }
  #botonescontac a{
    font-size: 0.7rem;
  }
  .form_contact{
    width: 80% !important;
  }
  #btnSend{
    margin-bottom: 1rem;
  }
  #main2{
    padding-top: 2rem;
  }
  #map{
      margin-left: 0.7rem;
      /*width: 130%;*/
  }
  form.form_contact input[type="submit"]{
    width: 100px;
    height: 35px;
    border-radius: 10px;
    font-size: 12px;
    /*padding-left: 20px !important;*/
  }
  #logGracias{
      width: 75%;
    }

}



/*_____________________________________________________*/
/* /MediaQuerys